body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(161, 161, 218, 0.939);
  /* horizontal centering */
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 40px;
}

h2 {
  font-size: 1 rem;
  font-weight: 700;
  margin-left: px;
  padding: 10px;
}

p {
  width: 500px;
  /* border: 1px solid crimson; */
  margin: 0 auto;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  /* line-height: 200px; */
  border-bottom: 3px dashed rgb(19, 240, 229);
  background-color: rgb(215, 249, 0);
}

.vcenter {
  line-height: 160px;
  /* height - top padding - bottom padding */
  /* 200 - 20 - 20 = 160 */
}

span {
  color: blueviolet;
  display: none;
}

.blue-colour {
  display: inline;
  color: blueviolet;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
